# LaTeX auxiliary build files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc*
*.nav
*.nlo
*.out
*.pdfsync
*.run.xml
*.snm
*.synctex.gz
*.synctex(busy)
*.toc
*.vrb
*.xdv
*.dvi
*.fmt
*.fot
_minted-*/
pythontex-files-*/
.texpadtmp/
auto/

# OS and Editor temporary files
.DS_Store
Thumbs.db
Desktop.ini
*~
*.bak
*.swp
*.swo
.#*
.vscode/
.idea/

# *.pdf
